*{
    margin: 0;
    padding: 0;
}

.carousel-item img{
    height: 668px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    backdrop-filter: blur(6px);
}

